/* Fonts */
@import "fontRobotoMono.css";
@import "fontSpaceMono.css";
@import "fontSpaceGrotesk.css";
/* Backgrounds */
@import "./backgrounds/backgroundGradients.css";
@import "./backgrounds/backgroundPatterns.css";
@import "./backgrounds/backgroundShapes.css";
/* Tailwind Styles */
@import "./tailwind-style/tailwind.bg.css";
@import "./tailwind-style/tailwind.colors.css";
@import "./tailwind-style/tailwind.fonts.css";
@import "./tailwind-style/tailwind.filters.css";
@import "./tailwind-style/tailwind.grid-cols.css";
@import "./tailwind-style/tailwind.grid-row.css";
/* Tailwind Pages */
@import "./tailwind-pages/tailwind.home.css";
@import "./tailwind-pages/tailwind.dashboard.css";
/* Tailwind Layouts */
@import "./tailwind-layouts/tailwind.d.layout.template.css";
@import "./tailwind-layouts/tailwind.d.layout.code.css";
@import "./tailwind-layouts/tailwind.d.layout.home.css";
/* Tailwind Components*/
@import "./tailwind-components/tailwind.d.home.css";
@import "./tailwind-components/tailwind.d.settings.user.css";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  line-height: 1.5;
  font-synthesis: none;
  background: #e0f2fe;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  overflow-x:hidden;
}

ul {
  font-size: 17px;
}

li {
  font-size: 16px;
}

li > button {
  font-size: 14px;
}
