/*Roboto*/
@font-face {
  font-family: 'Space-Grotesk';
  src: local("SpaceGrotesk"), url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet') format('truetype');
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Space-Grotesk-Light';
  src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
  font-style: normal;
}

@font-face {
  font-family: 'Space-Grotesk-Medium';
  src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet');
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Space-Grotesk-SemiBold';
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Space-Grotesk-Bold';
  src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap" rel="stylesheet');
  font-stretch: 75% 125%;
  font-style: normal;
}
