@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  background: #e0f2fe;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  overflow-x:hidden;
}
.custom-bg {
  background-image: linear-gradient(
    295deg,
    hsl(220deg 13% 91%) 0%,
    hsl(195deg 32% 79%) 5%,
    hsl(191deg 42% 64%) 10%,
    hsl(189deg 47% 55%) 18%,
    hsl(191deg 40% 78%) 30%,
    hsl(192deg 37% 93%) 54%,
    hsl(220deg 13% 98%) 71%,
    hsl(220deg 13% 95%) 80%,
    hsl(220deg 13% 92%) 87%,
    hsl(197deg 29% 82%) 92%,
    hsl(192deg 40% 68%) 96%,
    hsl(188deg 62% 45%) 100%
  );
}

h1 {
  font-size: 200px;
}

h2 {
  font-size: 96px;
}

h3 {
  font-size: 72px;
}

h4 {
  font-size: 28x;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

ul {
  font-size: 17px;
}

li {
  font-size: 16px;
}

li > button {
  font-size: 14px;
}

.bg-faded-gray {
  --tw-gradient-from: #f3f4f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(243 244 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
