@import "backgroundGradients.css";
@import "backgroundPatterns.css";
@import "fontRobotoMono.css";
@import "fontSpaceMono.css";
@import "fontSpaceGrotesk.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-synthesis: none;
  background: #e0f2fe;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  overflow-x:hidden;
}

ul {
  font-size: 17px;
}

li {
  font-size: 16px;
}

li > button {
  font-size: 14px;
}
