@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* transparent*/
  .tw-no-border {
    color: rgba(0, 0, 0, 0.1);
  }
  /* gray */
  .tw-campfire-neutral {
    color: #a3a3a3;
  }
  .tw-campfire-neutral-50 {
    color: #f5f5f5;
  }
  .tw-campfire-neutral-100 {
    color: #e5e5e5;
  }
  .tw-campfire-neutral-200 {
    color: #a3a3a3;
  }
  .tw-campfire-neutral-300 {
    color: #737373;
  }
  .tw-campfire-neutral-400 {
    color: #525252;
  }
  .tw-campfire-neutral-500 {
    color: #737373;
  }
  .tw-campfire-neutral-600 {
    color: #525252;
  }
  .tw-campfire-neutral-700 {
    color: #404040;
  }
  .tw-campfire-neutral-800 {
    color: #262626;
  }
  .tw-campfire-neutral-900 {
    color: #171717;
  }
  /* blue */
  .tw-campfire-blue {
    color: #2ca9bc;
  }
  .tw-campfire-blue-50 {
    color: #eff6ff;
  }
  .tw-campfire-blue-100 {
    color: #d7ecf0;
  }
  .tw-campfire-blue-200 {
    color: #afd9e1;
  }
  .tw-campfire-blue-300 {
    color: #6cbccb;
  }
  .tw-campfire-blue-400 {
    color: #2ca9bc;
  }
  .tw-campfire-blue-500 {
    color: #008396;
  }
  .tw-campfire-blue-600 {
    color: #006072;
  }
  .tw-campfire-blue-700 {
    color: #004e60;
  }
  .tw-campfire-blue-800 {
    color: #003e4f;
  }
  .tw-campfire-blue-900 {
    color: #00212f;
  }
  .tw-campfire-blue-950 {
    color: #082f49;
  }
  /* purple */
  .tw-campfire-purple {
    color: #8b5cf6;
  }
  .tw-campfire-purple-light {
    color: #c4b5fd;
  }
  .tw-campfire-purple-dark {
    color: #6d28d9;
  }
  .tw-campfire-purple-darker {
    color: #581c87;
  }
  .tw-campfire-purple-darkest {
    color: #2e1065;
  }
  .tw-campfire-purple-200 {
    color: #ddd6fe;
  }
  .tw-campfire-purple-300 {
    color: #c4b5fd;
  }
  .tw-campfire-purple-400 {
    color: #a78bfa;
  }
  .tw-campfire-purple-500 {
    color: #8b5cf6;
  }
  .tw-campfire-purple-700 {
    color: #6d28d9;
  }
  .tw-campfire-purple-900 {
    color: #4c1d95;
  }
  .tw-campfire-purple-950 {
    color: #2e1065;
  }
  /* green */
  .tw-campfire-green {
    color: #22c55e;
  }
}
