@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tw-font-roboto_mono {
    font-family: 'Roboto-Mono';
  }
  .tw-font-space_mono {
    font-family: 'Space-Mono';
  }
  .tw-font-space_grotesk {
    font-family: 'Space-Grotesk';
  }
}
